@font-face {
    font-family: 'Chinese Rocks';
    src: url(/assets/fonts/chinese\ rocks\ rg.otf);
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url(/site/public/assets/fonts/MontserratAlternates-Light.ttf);
}

section {
    display: flex;
    height: 725px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(/site/public/assets/img/imagens-site/background-cadastro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1550px;
}

.box-inputs {
    background-color: black;
    font-family: 'Chinese Rocks', sans-serif;
    margin-top: 60px;
    width: 600px;
    height: 450px;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #7F1D1D;
}

span {
    color: white;
    font-size: 21px;
    width: 330px;
    margin: 15px;
}

input {
    margin: 15px;
    margin-top: -2px;
    width: 255px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    font-family: 'Chinese Rocks', sans-serif;
}

#input_email {
    width: 550px;
}

.botao {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.botao button {
    width: 200px;
    height: 50px;    
    border-radius: 8px;
    background-color: #7F1D1D;
    color: white;
    font-family: 'Chinese Rocks', sans-serif;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.button:hover {
    color: #7F1D1D;
    background: white;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}
  
