@font-face {
    font-family: 'Chinese Rocks';
    src: url(/assets/fonts/chinese\ rocks\ rg.otf);
}

@font-face {
    font-family: 'Hapna-Slab';
    src: url(../assets/fonts/FontsFree-Net-Hapna-Slab-Serif.ttf);
}

::selection {
    background-color: black;
    color: white;
}


body {
    background-color: #4A0000;
    display: flex;
    flex-direction: column;
}

/* MENU */

.menu {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: black;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: 900;
    flex-direction: column;
}

.menu h1 {
    text-align: center;
    font-family: 'Chinese Rocks', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.icone {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.icone img {
    width: 40%;
    height: 90%;
    margin-top: 2%;
    border-radius: 100px;
}

.secoes {
    width: 100%;
    height: 50%;
    margin-top: 20%;
    justify-content: center;
}

.secoes button {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-left: 20px;
    border: 0;
    align-items: center;
    background-color: #4A0000;
    color: #E2E8F0;
    border-radius: 8px;
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.secoes button:hover {
    background-color: #7F1D1D;
    color: #E2E8F0;
    cursor: pointer;
}

.botao {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: -25px;
}

.botao button {
    width: 200%;
    height: 50px;
    margin-top: -50%;
    border-radius: 8px;
    background-color: #7F1D1D;
    color: white;
    font-family: 'Chinese Rocks', sans-serif;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.button:hover {
    color: #7F1D1D;
    background: white;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

/* MODAL PERSONAGEM */

.janela-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal .titulos {
    color: black;
    margin-left: 2%;
}

.modal {
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: #7F1D1D;
    color: white;
    font-size: 25px;
    font-family: 'Chinese Rocks', sans-serif;
    cursor: pointer;
}

.janela-modal.abrir {
    display: flex;
}

@keyframes abrirModal {
    from {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal {
    animation: abrirModal 0.5s;
}

.box-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.modal select {
    background-color: black;
    color: white;
    width: 40%;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.botao-modal {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.modal .button-modal {
    background-color: #7F1D1D;
    color: #E2E8F0;
    width: 10%;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-family: 'Chinese Rocks', sans-serif;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.modal .button-modal:hover {
    background-color: white;
    color: #7F1D1D;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.modal input {
    margin: 15px;
    margin-top: 5px;
    width: 255px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: bold;
    outline: 3px solid #7F1D1D;
    border: none;
    transition: 0.25s;
}

/* PERSONAGEM PREFERIDO */

.personagem-preferido {
    height: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20%;
}

.card-personagem {
    color: black;
    background-color:#E2E8F0;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 28%;
    height: 40%;
    border-radius: 8px;
}

.texto-card {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}

.texto-card h2 {
    font-size: 20px;
    font-family: 'Chinese Rocks', sans-serif;
    font-weight: bolder;
    margin: 0;
}

.texto-card p{
    font-family: 'Hapna-Slab', sans-serif;
    margin: 10px;
}

.grafico3 {
    background-color: #E2E8F0;
    border-radius: 12px;
    margin-top: 15%;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.descricao-personagem,
.metricas-horas {
    background-color: #E2E8F0;
    margin-left: 22%;
    margin-top: -2%;
    margin-right: 2%;
    font-family: 'Hapna-Slab', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    font-weight: bold;
    border-radius: 12px;
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
}

#descricao {
    margin-right: 2%;
    margin-left: 1%;
}

.metricas-horas,
.descricao-personagem,
.titulos {
    color: black;
    text-align: center;
}

/* GRÁFICO DE HORAS JOGADAS */

.vendas {
    display: flex;
    width: 80%;
    margin-top: 2%;
    height: 100%;
    flex-direction: column;
    margin-left: 20%;
}

.graficos {
    height: 80%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-around;
}

.graficos img {
    width: 15%;
    height: 10%;
}

.indicadores {
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card {
    width: 90%;
    height: 30%;
    font-family: 'Hapna-Slab', sans-serif;
    background-color: #E2E8F0;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}

.card h2 {
    font-size: 19px;
}

.texto-card-horas {
    width: 80%;
}

.grafico1 {
    background-color: #E2E8F0;
    height: 110%;
    width: 60%;
    border-radius: 12px;
}

.metricas-horas {
    margin-top: 1%;
    margin-left: 35%;
}

.tabela-metricas {
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50%;
    background-color: #E2E8F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    margin-left: 25%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.coluna1,
.coluna2,
.coluna3,
.coluna4,
.coluna5,
.coluna6 {
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: bold;
    border-right: black solid;
    width: 100%;
}

.tabela-metricas h3 {
    border-bottom: black solid;
    font-family: 'Chinese Rocks', sans-serif;
}