@font-face {
    font-family: 'Chinese Rocks';
    src: url(../assets/fonts/chinese\ rocks\ rg.otf);
}

@font-face {
    font-family: 'Hapna-Slab';
    src: url(../assets/fonts/FontsFree-Net-Hapna-Slab-Serif.ttf);
}

section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/imagens-site/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    width: 91.5%;
}

.card-inputs {
    width: 50%;
}