@font-face {
    font-family: 'Chinese Rocks';
    src: url(/assets/fonts/chinese\ rocks\ rg.otf);
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url(/site/public/assets/fonts/MontserratAlternates-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 13px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #7F1D1D;
    border-radius: 50px;
}

/* HEADER */

.header {
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    height: 64px;
    flex-direction: row;
    display: flex;
    position: fixed;
    z-index: 2;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.9%;
}

.navbar {
    width: 90vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.navbar p {
    font-size: 50px;
    color: white;
}

.imagens {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.imagens-personagem {
    width: 44px;
    height: 45px;
    cursor: pointer;
}

li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #7F1D1D;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s ease-in-out;
    border-radius: 50px;
    cursor: pointer;
}

li:hover::after {
    width: 100%;
}

li a {
    transition: 0.3s ease-in-out;
}

li a:hover {
    color: #7F1D1D;
    font-weight: bold;
}

.buton-header {
    display: flex;
    align-items: center;
    width: 195px;
    height: 40px;
    gap: 10px;
}

.navbar .login {
    background-color: black;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 14px;

    border: solid 2px #7F1D1D;
    width: 62px;
    height: 100%;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.navbar .cadastro {
    background-color: #7F1D1D;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 12px;

    border: none;
    width: 109px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    color: black;
    background-color: #E2E8F0;
    cursor: pointer;
    width: 70px;
    height: 120%;

}

.cadastro:hover {
    color: black;
    background-color: #E2E8F0;
    cursor: pointer;
    width: 120px;
    height: 120%;
    border: solid #7F1D1D;
}

/* BANNER */

.banner {
    width: 1440px;
    height: 641px;
}

.banner img {
    width: 160%;
    height: 1200px;
    right: -50px;
    margin-top: -400px;
    z-index: -1;
}

.banner h1 {
    color: white;
    font-family: 'Chinese Rocks', sans-serif;
    font-size: 40px;
    z-index: 1;
    bottom: 450px;
    left: 310px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.banner h3 {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    bottom: 350px;
    left: 350px;
    transform: translate(-50%, -50%);
}

/* .banner button {
    background-color: #334155;
    width: 137px;
    height: 48px;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease-in-out;
}

.banner button:hover {
    color: #7F1D1D;
    background: white;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
} */

/* SOBRE O JOGO */

.sobre-o-jogo {
    height: 860px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 100%;
    font-family: 'Chinese Rocks', sans-serif;
    color: white;
    font-size: 28px;
}

.secao-1 {
    width: 100%;
    height: 344px;
    margin-top: 35px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.secao-1 img {
    width: 638.5px;
    height: 344px;
    align-items: center;
    border-radius: 25px;
}

.secao-1 p {
    width: 563px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-top: 60px;
}

.secao-2 {
    width: 100%;
    height: 344px;
    display: flex;
    gap: 100px;
    margin: 20px;
    justify-content: center;
    flex-direction: row-reverse;
}

.secao-2 img {
    width: 700px;
    height: 350px;
    align-items: center;
    border-radius: 25px;
}

.secao-2 p {
    width: 563px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

/* .sobre-o-jogo button {
    background-color: #334155;
    width: 240px;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
} */

/* PREMIOS RECEBIDOS */

.estatisticas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #F8FAFC;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    justify-content: space-evenly;
}

.estatisticas p {
    font-size: 40px;
    color: #E2E8F0;
    font-weight: 600;
}

/* PERSONAGENS */

.personagens {
    border: goldenrod solid;
    margin-top: 20%;
    width: 100%;
    height: 948px;
}

/* ODS - ONU */

.box-ods {
    margin-top: 20px;
    background-color: #CDA572;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.traco {
    background-color: black;
    border-radius: 20px;
    height: 5px;
    display: flex;
}

.box-ods img {
    width: 250px;
    height: 250px;
    border-radius: 23px;
}

.box-ods h1 {
    font-family: 'Chinese Rocks', sans-serif;
    color: #7F1D1D;
    font-size: 100px;
}

.box-ods p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.box {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}

/* SOBRE MIM */

.sobre-mim {
    width: 100%;
    height: 80%;
    border: #7F1D1D solid;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.sobre-mim p {
    font-family: 'Montserrat Alternates',sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
}

.cartaz-procurado {
    height: 72%;
    width: 27%;
    margin-top: 25px;
    margin: 25px;
    display: flex;
    justify-content: center;
    background-image: url(/site/public/assets/img/imagens-site/cartaz-procurado.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cartaz-procurado img {
    width: 70%;
    height: 48%;
    margin-top: 40%;
}