@font-face {
    font-family: 'Chinese Rocks';
    src: url(/assets/fonts/chinese\ rocks\ rg.otf);
}

@font-face {
    font-family: 'Hapna-Slab';
    src: url(/site/public/assets/fonts/FontsFree-Net-Hapna-Slab-Serif.ttf);
}

::selection {
    background-color: #7F1D1D;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 13px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #7F1D1D;
    border-radius: 50px;
    border: black 1px solid;
}

/* HEADER */

.header {
    background-color: black;
    font-family: 'Hapna-Slab', sans-serif;
    width: 100%;
    height: 64px;
    flex-direction: row;
    display: flex;
    position: fixed;
    z-index: 2;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.9%;
}

.navbar {
    width: 90vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.navbar p {
    font-size: 50px;
    color: white;
}

.imagens {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.imagens-personagem {
    width: 44px;
    height: 45px;
    cursor: pointer;
}

li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #7F1D1D;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s ease-in-out;
    border-radius: 50px;
    cursor: pointer;
}

li:hover::after {
    width: 100%;
}

li a {
    transition: 0.3s ease-in-out;
}

li a:hover {
    color: #7F1D1D;
    font-weight: bold;
}

.buton-header {
    display: flex;
    align-items: center;
    width: 195px;
    height: 40px;
    gap: 10px;
}

.navbar .login {
    background-color: black;
    color: white;
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: bold;
    font-size: 14px;

    border: solid 2px #7F1D1D;
    width: 62px;
    height: 100%;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.navbar .cadastro {
    background-color: #7F1D1D;
    color: white;
    font-family: 'Hapna-Slab', sans-serif;
    font-weight: bold;
    font-size: 12px;

    border: none;
    width: 109px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    color: black;
    background-color: #E2E8F0;
    cursor: pointer;
    width: 70px;
    height: 120%;

}

.cadastro:hover {
    color: black;
    background-color: #E2E8F0;
    cursor: pointer;
    width: 120px;
    height: 120%;
    border: solid #7F1D1D;
}

/* BANNER */

.banner {
    width: 1440px;
    height: 641px;
}

.banner img {
    width: 160%;
    height: 1200px;
    right: -50px;
    margin-top: -400px;
    z-index: -1;
}

.banner h1 {
    color: white;
    font-family: 'Chinese Rocks', sans-serif;
    font-size: 40px;
    z-index: 1;
    bottom: 450px;
    left: 330px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.banner h3 {
    color: white;
    font-family: 'Hapna-Slab', sans-serif;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    bottom: 350px;
    left: 350px;
    transform: translate(-50%, -50%);
}

/* SOBRE O JOGO */

.sobre-o-jogo {
    height: 860px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 100%;
    font-family: 'Chinese Rocks', sans-serif;
    color: white;
    font-size: 28px;
}

.secao-1 {
    width: 100%;
    height: 344px;
    margin-top: 35px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.secao-1 img {
    width: 638.5px;
    height: 344px;
    align-items: center;
    border-radius: 25px;
}

.secao-1 p {
    width: 563px;
    color: white;
    font-family: 'Hapna-Slab', sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
    margin-top: 60px;
}

.secao-2 {
    width: 100%;
    height: 344px;
    display: flex;
    gap: 100px;
    margin: 20px;
    justify-content: center;
    flex-direction: row-reverse;
}

.secao-2 img {
    width: 700px;
    height: 350px;
    align-items: center;
    border-radius: 25px;
}

.secao-2 p {
    width: 563px;
    color: white;
    font-family: 'Hapna-Slab', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    text-align: justify;
}

/* PREMIOS RECEBIDOS */

.estatisticas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #F8FAFC;
    font-family: 'Hapna-Slab', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    justify-content: space-evenly;
}

.estatisticas p {
    font-size: 40px;
    color: #E2E8F0;
    font-weight: 600;
}

/* PERSONAGENS */

.personagens {
    margin-top: 20%;
    width: 100%;
    height: 80%;
}

.slide {
    width: 100vw;
    height: 60vh;
    background-color: lightcoral;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0 0 100%;
    text-align: center;
}

.slide article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 50%;
    margin: 5em;
}

.slide article h1 {
    margin: 0;
    font-size: 56px;
    color: white;
}

.slide article p {
    margin: 0;
    font-size: 24px;
    color: var(--GavaWhite);
}

.slide article button {
    margin-top: 1em;
    background-color: white;
    color: lightcoral;
    width: 10em;
    height: 2em;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;

    transition: ease-in-out 0.2s;
}

.slide article button:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
}

.slide img {
    width: 20vw;
    border: white 5px solid;
    border-radius: 50px;
    margin-right: 10em;
}

.carros .seta {
    width: 70px;
    border: none;
    margin: 3em;
}



.carousel {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    align-items: center;
    width: 80vw;
    transition: transform 0.5s ease;
}


.prev,
.next {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 4vw;
    height: 4vh;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide-indicators {
    text-align: center;
    margin-top: 10px;
}

.slide-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: purple;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slide-indicator.active {
    background-color: white;
}

/* ODS - ONU */

.box-ods {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box-ods img {
    width: 250px;
    height: 250px;
    border-radius: 23px;
}

.box-ods h1 {
    font-family: 'Chinese Rocks', sans-serif;
    color: #595959;
    font-size: 100px;
}

.box-ods p {
    font-family: 'Hapna-Slab', sans-serif;
    color: #5A5A5A;
    font-size: 20px;
    font-weight: 600;
    margin-top: -30px;
}

.box {
    display: flex;
    background-image: url(/site/public/assets/img/imagens-site/background-onu.png);
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}

.paragrafo {
    width: 50%;
    height: 100px;
    text-align: justify;
}

/* SOBRE MIM */

.sobre-mim {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.sobre-mim p {
    font-family: 'Hapna-Slab', sans-serif;
    font-size: 20px;
    margin-top: 150px;
    font-weight: 600;
    color: white;
}

.cartaz-procurado {
    height: 415px;
    width: 300px;
    margin: 25px;
    display: flex;
    justify-content: center;
    background-image: url(/site/public/assets/img/imagens-site/cartaz-procurado.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cartaz-procurado img {
    width: 72%;
    height: 215px;
    margin-top: 40%;
}

/* FOOTER */

.footer {
    background: #7F1D1D;
    width: 100wh;
    padding: 30px 0px;
    margin-top: 15px;
    font-family: 'Hapna-Slab', sans-serif;
    text-align: center;
}

.icons-footer {
    width: 35px;
    height: 35px;
    fill: white;
    transition: 0.2s ease-in-out;
}

.icons-footer:hover {
    fill: black;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
    font-weight: 900;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.footer .row a:hover {
    color: black;
    font-weight: 900;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.row::selection {
    background-color: black;
    color: white;
}